[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
elasticsearch = {extras = ["async"], version = ">=7.8.0"}
google-cloud-pubsub = "*"
isort = "*"
requests = "*"

[requires]
python_version = "3.8"
